{% set syncthing = salt['grains.filter_by']({
    'default': {
        'pkgs': ['syncthing'],
        'service': 'syncthing',
        'user': 'syncthing',
        'group': 'syncthing',
        'dir': '/var/db/syncthing',
    },
    'Debian': {
    },
    'RedHat': {
    },
    'FreeBSD': {
    },
}, grain='os_family', merge=salt['pillar.get']('syncthing:lookup'), base='default') %}
